<section class="flex flex-col items-center">
    <h1 class="text-3xl font-bold py-3">Messages</h1>
    <div class="w-4/5 border flex flex-wrap rounded-lg px-7 py-5">
        <table class="table-auto w-full">
            <thead class="text-lg">
                <tr>
                    <th class="text-left">First name</th>
                    <th class="text-left">phone number</th>
                    <th class="text-left">TimeStamp</th>
                    <th class="text-left">Message sent</th>
                </tr>
            </thead>
            <tbody>
                <%for(let i=0;i < data.length;i++){%>
                    <tr class="odd:bg-gray-100 p-3 hover:text-amber-400">
                        <td>
                                <%=data[i].firstname%>
                        </td>
                        <td>
                                <%=data[i].phone%>
                        </td>
                        <td>
                                <%=data[i].createdAt%>
                        </td>
                        <td>
                                <%=data[i].message%>
                        </td>
                    </tr>
                    <%}%>
            </tbody>
        </table>

    </div>

</section>